<%#
# "_group_info"
# for sidebar
%>
<% group = user.subordinates.delete_if{|f| f == user} %>

<%  if group.size == 0 %>
  <strong> 
    Members of this group: 
  </strong>
  <ul>      
    <% user.chief.subordinates.delete_if{|f| f == user.chief}.each do |f|%>
      <li><%= link_to f.name, f %> </li>
    <% end %>
  </ul>
<% else %>
  <strong>
    <%= "Supervises group of" %> <%=  link_to group.size, group_user_path(user) %>
  </strong>
  <br /><br />
  <strong>Group members: </strong>
  <ul>      
    <% group.each do |u|%>
      <li><%= link_to u.name, u %> </li>
    <% end %>
  </ul>
<% end %>
