<%#
# sidebar_info
# Called from users#show(id)
%>
<div class="user_info" summary="sidebar_info about @user">

  <h1>Subordinated to</h1>
  <p>
    <strong><%=  link_to @user.chief.name,  @user.chief %></strong>
  </p>
  <h1> Projects</h1>
  <p>
    <%=  "In work: #{@user.assignments.count} (initiated: #{@user.projects.count})"%>
  </p>
  <% if current_user == @user.chief  %>
    <%  unless @projects_available.empty? %>
      <p>
        <strong>Select project</strong>
      </p>
      <%  new_rel = @user.relationships.build(:user_id => @user.id) %>
      <% the_list =  @projects_available.map{|f| [f.title, f.id]} %>
      <table>
        <tr>
          <%= render :partial => "relationships/create", 
            :locals => {:relationship => new_rel, 
            :fix_id => :user_id, :select_id => :project_id,
            :select_from => the_list} %>
        </tr>
      </table>
    <% else %>
      <p>
        <strong>No projects for select</strong>
      </p>
    <% end %>
  <% end %>

  <%= render :partial => 'shared/group_info', :locals => {:user => @user} %>
