<h1>About Us</h1>
<p><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" target="_blank">Ruby on Rails Tutorial</a></p>
<p><a href="http://api.rubyonrails.org/" target="_blank">API Ruby on Rails</a></p>
<p><a href="http://guides.rubyonrails.org/" target="_blank">Rails Guides</a></p>
<p><a href="http://www.sitepoint.com/learn-ruby-on-rails/" target="_blank">Learn Ruby on Rails</a></p>
<p><a href="http://www.w3schools.com/" target="_blank">w3schools.com</a></p>
<p><a href="http://www.ruby-doc.org/" target="_blank">Ruby-doc.org</a></p>


