<h1>Help (APIs) </h1>
<p>
  <%= link_to "HTML5 specification", "http://developers.whatwg.org/" %><br/>
  <%= link_to "API Ruby on Rails", "http://api.rubyonrails.org/"  %><br/>
  <%= link_to "Ruby-doc.org", "http://www.ruby-doc.org/core/" %><br/>
  <%= link_to "jQuery API", "http://api.jquery.com/" %>
</p>
<h1>Rails Tutorials and Manuals</h1>
<p>
  <a href="http://guides.rubyonrails.org/" target="_blank">Rails Guides</a><br/>
  <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" target="_blank">Ruby on Rails Tutorial (by M. Hartl)</a><br/>
  <a href="http://www.sitepoint.com/learn-ruby-on-rails/" target="_blank">Learn Ruby on Rails</a>
</p>
<h1>More</h1>
<p>
  <a href="http://www.w3schools.com/" target="_blank">w3schools.com</a><br/>
  <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/" target="_blank">HTML Living Standard</a>
</p>