<%#
# Partial "projects/update_team"
#
# Called from projects#show. Rendered in in sidebar
# Used to add/release people from team
%>

<h3>Team </h3>
<table>
  <% unless @project_team.empty?  %>
    <%  @project_team.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user %>
        </td>
        <td>
          <%  if current_user.subordinates.include?(user) %>
            <%  relationship = @project.relationships.find_by_user_id(user) %>
            <%= render :partial => "relationships/destroy", 
              :locals => {:relationship => relationship} %>
          <% end %>
        </td> 
      </tr>
    <% end %>
  <% end %>

  <%  unless @people_available.empty? %>
    <tr>
      <% new_rel = @project.relationships.build(:project_id => @project.id) %>
      <% the_list = @people_available.map {|f| [f.name, f.id]} %>

      <%= render :partial => "relationships/create", 
        :locals => {:relationship => new_rel, 
        :fix_id => :project_id, :select_id => :user_id,
        :select_from => the_list} %>
    </tr>
  <% else %>
    <tr>
      <td><strong>No (more) people to add</strong></td>
    </tr>
  <% end %>
</table>