<table class="front" summary="Create new project">
  <tr>
    <td class="main">
      <div id="project">
        <h1><%=  @title %></h1>
        <%= render 'project_form' %>
      </div>
    </td>
    <td class="sidebar round">
      <%= render 'shared/current_user_info' %>
    </td>
  </tr>
</table>






