<%  unless @active_count.zero? %>    
  <h3 id="active_count"> 
    Projects in work <%= @active_count %> (paused <%= @paused_count %>)
  </h3>
  <%= will_paginate @active_paginated, :param_name => 'active_page' %>
  <table>
    <tr>
      <%=  render @active_paginated %>
    </tr>
  </table>
<% end %>