<%#
# Partial "appinntments/create" 
# creates new active appointment with (pause = false) .
# Called from 'pages#home' viewer
%>
<h3>
  <% unless @projects_to_add.empty? %> 
    <%= form_for @new_appointment, :remote => true   do |f| %>
      <%= f.label :relationship_id, "Select project to work with" %>
      <%= f.select :relationship_id, options_for_select(@projects_to_add) %>
      <%= f.submit "Start" %>
    <% end %>
  <% end %>
</h3>