<h3>
  <%= "Work history" unless @work_history.empty? %>
</h3>    
<table id="app_history">
  <% unless @work_history.empty? %>
    <%= render :partial => 'appointments/history_item',
      :collection => @work_history, :as => :appointment, 
      :locals => {:title => 'Project' } %>
  <% end %>
</table>
<%= will_paginate @work_history, :param_name => 'history_page' %>