// alert('destroy.js.erb: ajax started');
$("flash").update('<div class="flash notice">Ajax: <%= escape_javascript(flash.delete(:notice)) %></div>')
$("show_history").update('<%= escape_javascript(render('appointments/history'))  %>') 
